<mat-card>
    <agm-map [latitude]="latitude" [longitude]="longitude">
        <agm-direction [origin]="origin" [destination]="destination">
          <agm-marker *ngFor="let wayPoint of wayPoints; let i=index" [latitude]="wayPoint.lat" [longitude]="wayPoint.lng">
              <agm-info-window [maxWidth]="200" style="font:bold; color:black;">
                <div style="font: bold; color: black;">
                  <p>Current Temperature: {{ wayPoint.temp }}</p>
                </div>
              </agm-info-window>
          </agm-marker>
      </agm-direction>
    </agm-map>
</mat-card>
