<mat-card>
    <form (submit)="onGetRoute(routeForm)" #routeForm="ngForm">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="source"
          placeholder="Source"
          ngModel
          required
          minlength="3"
          #source="ngModel">
          <mat-error *ngIf="source.invalid">Please enter Source Address</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          rows="6"
          name="destination"
          placeholder="Destination"
          ngModel
          required
          #destination="ngModel">
        <mat-error *ngIf="destination.invalid">Please enter Destination Address</mat-error>
      </mat-form-field>
      <button
          mat-raised-button
          color="primary"
          type="submit"> Get Route </button>
    </form>
</mat-card>
